* {
    font-family: montserrat !important;
}
body{
    background-color: rgb(243, 243, 243) !important;
    overflow-x: hidden;
}
header{
    height: 80px !important;
}
header, aside{
    background-color: white;
}
aside{
    width: 330px !important;
    box-shadow: 2px 1px 30px rgba(211, 211, 211, 0.39);
    min-height: 100vh;
    position: sticky;
}
.menuCo {
    background-color: #012970;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: -13px;
}
.menuCo:hover {
    cursor: pointer;
    scale: 1.05;
}
section {
    width: 100% !important;
}
.ml-100{
    margin-left: 100px;
}
.cursor-pointer{
    cursor: pointer;
}
.togl_menu{
    margin-left: 80px;
}
.ml-2{
    margin-left: 20px;
}
.nav-link {
    color: #012970 !important;
}
.nav-link.active{
    color: #4154f1 !important;
    background-color: #f6f9ff;
}
.nav-link:hover{
    color: #4154f1 !important;
    background-color:  #f6f9ff;
}
h2{
    color: #012970 !important;
}
.headerSection span span{
    color: #0239987a;
}
.headerSection span{
    color: #012970;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
#asideBar {
    transition: width 0.3s ease;
    min-height: 87vh;
}
.card{
    width: 300px;
    height: 150px !important;
}
.card-title{
    font-size: 20px !important;
    color: #012970 !important;
}
.card_footr h6{
    font-size: 30px !important;
}
.fas{
    text-align: center;
    padding-top: 15px;
    width: 50px;
    height: 50px;
}
#asideBar.collapsed {
    width: 80px !important;
    animation: fadeIn 0.3s ease;
}
@media screen and (max-width:580px) {
    #asideBar {
        display: none;
    }
    .togl_menu{
        margin-left: 10px;
    }
    .search{
        display: none;
    }
    #asideBar.collapsed {
        position: absolute !important;
        display: block;
        width: 240px !important;
    }
    #asideBar.collapsed .nav-link span.ml-2{
        display: inline !important;
    }
}
#myTable {
    background-color: #fff !important;
}
#myTable_wrapper {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.edit {
    background-color: #0091dc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
}
.delete {
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px;
}
.edit:hover {
    background-color: #0073aa;

}
.delete:hover {
    background-color: rgb(132, 36, 36);
}
.mini {
    width: 200px;
}
.intro {
    background-color:#fff;
    height:600px;
    width:95%;
    padding:35px;
    margin:15px;
    border-radius:15px;
    box-shadow:0 0 8px -1px #00000020;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    flex-grow:1
}